body {
  background-color: #f2f2f2;
}

#body-container {
  position: relative;
  display: grid;
  grid-template-columns: [zero-zero] 25% [zero-one] 1fr [zero-two];
  grid-template-rows: [zero-zero] auto [one-zero] auto [two-zero];
  top: 180px;
  z-index: 0;
  margin: 5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.about {
  grid-column-start: zero-zero;
  grid-column-end: zero-two;
  grid-row-end: one-zero;
}

#about-text {
  border-bottom-style: inset;
  padding-bottom: 18px;
}

.body-left {
  grid-row-start: one-zero;
  grid-row-end: two-zero;
  grid-column-start: zero-zero;
}

.body-right {
  grid-row-start: one-zero;
  grid-column-start: one-zero;
  grid-column-end: zero-one;
}

@media (max-width: 700px) {
  .body-left {
    grid-column-start: zero-zero;
    grid-column-end: zero-two;
    grid-row-start: one-zero;
    grid-row-end: two-zero;
  }
}
 
@media (max-width: 700px) {
  .body-right {
    grid-row-start: two-zero;
    grid-column-start: zero-zero;
    grid-column-end: zero-two;
  }
}


.tools-icon {
  height: 22px;
  width: 22px;
  padding: 5px 5px 0px 0px;
}

#body-container .subheading h4 {
  margin: 14px auto;
}

.dot-grey {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #bbb;
}

.dot-color {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #3399ff;
}

.body-left p {
  margin: 4px auto;
}
