
#header-container {
  display: grid;
  grid-template-columns: auto auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  border-bottom-color: black;
  border-bottom: 3em;
  background-size: cover;
  overflow: scroll;
}

.logo {
  height: 40px;
  width: 40px;
  padding: 5px;
}


#dp {
  height: 150px;
  width: 200px;
  padding: 5px;
  border-radius: 15%;
}

#dp-container {
  margin: 15px auto auto;
}

#position {
  color: #666666;
  font-family: serif;
  margin-top: 0px;
}

h1 {
  font-family: initial
}