
#header-container {
  display: grid;
  grid-template-columns: 250px auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-color: whitesmoke;
  box-shadow: 2px 0px 20px;;
  overflow: scroll;
  z-index: 9;
  margin: 5px;
}

.logo {
  height: 32px;
  width: 32px;
  padding: 5px;
}

.contact-icons {
  height: 12px;
  width: 12px;
  padding: 5px 5px 0px 0px;
}

#dp {
  height: 150px;
  width: 200px;
  padding: 5px;
  border-radius: 15%;
}

#dp-container {
  margin: 10px auto auto;
}

.subHeading {
  color: #666666;
  font-family: serif;
  margin: 6px;
}

h1 {
  font-family: initial;
  margin-bottom: 15px;
}