#main-container {
  padding: 0px 100px;
}

@media (max-width: 950px) {
  #main-container {
    padding: 0px;
  }
}

body {
  font-size: 16px;
}

h1 {
  font-size: 250%;
}

#body-container h2 {
  color: #666666;
  font-size: 1.6em;
}

p {
  font-size: 110%;
}

ul {
  padding-inline-start: 15px;
}

li {
  list-style-type: circle;
}